<!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>If you have any questions,</strong>
              </br>
              <strong>please don't hesitate to contact us.</strong>
            </h4>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-envelope-o fa-fw text-danger"></i>
                <a href="mailto:railsgirlsmd@gmail.com">railsgirlsmd@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/RailsGirls.Chisinau">
                  <i class="fa fa-facebook fa-fw fa-3x text-danger"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/RailsGirlsMD">
                  <i class="fa fa-twitter fa-fw fa-3x text-danger"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Rails Girls Chișinău 2019</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>
